button {
    padding: 10px 20px;
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(0, 68, 255);
}